@charset "utf-8";
.bdwidth{width: 680px;}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
}
@media screen and (min-width: 960px) and (max-width: 1023px) {
}
@media screen and (min-width: 768px) and (max-width: 959px) {
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* article */
  .bdwidth{width: 90%;}
  .content{font-size: 1.5em;}
  .card h5{font-size: 2em;}
  .time {font-size: 1.5em;}
  .sub {font-size: 1.5em;}
}
@media only screen and (max-width: 479px) {
  /* article */
  .bdwidth{width: 90%;}
  .content{font-size: 2em;}
  .card h5{font-size: 3em;}
  .time {font-size: 1.5em;}
  .sub {font-size: 1.5em;}
}
